extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="config", method="post")
    div.row
      div.col-lg-6.offset-lg-3
        div.row
          span.label Api Key
          input.form-control(type="text", name="key")
        div.row
          span.label Api Secret
          input.form-control(type="text", name="SECRET")
        div.row
          input.btn.btn-primary(type="submit", value="Save")
